@model SemaFlags.Models.Node

@{
    ViewData["Title"] = "Create node";
}


<form asp-action="Add" method="post" asp-route-id="0">
    <div asp-validation-summary="All"></div>
    <input asp-for="GroupId" readonly hidden value="@ViewBag.GroupId" />
    <p>
        <label asp-for="Name">Node name:</label>
        <input asp-for="Name" />
    </p>
    <p>
        <label asp-for="Description">Node description:</label>
        <input asp-for="Description" />
    </p>
    <button type="submit">Create</button>
</form>
