@model SemaFlags.Models.Node

@{
    ViewData["Title"] = "Node details";
}

<p>
    <label asp-for="Name">@Model.Name</label>
</p>
<p>
    <label asp-for="Description">@Model.Description</label>
</p>
<p>
    <a asp-action="Index" asp-controller="Group" asp-route-id=@ViewBag.GroupId>Back to group @ViewBag.GroupName.</a>
</p>

