@model IEnumerable<SemaFlags.Models.Board>

@{
    ViewData["Title"] = "Home Page";
}


<div>
    <p>
        <a asp-action="Board">Add board</a>
    </p>
    <p>Board list:</p>
    <p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SemaFlags.Models.Board b in Model)
            {
                    <tr>
                        <td>@b.Id</td>
                        <td>@b.Name</td>
                        <td>@b.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </p>

</div>
